<p style="color: green"><%= notice %></p>
<%= render @post %>
<div>
  <%= @post.user.email  %>
  <%= time_ago_in_words(@post.created_at)  %> ago
  <% if current_user.id == @post.user_id %>
    <%= link_to "Edit", edit_post_path(@post) %> |
    <%= button_to "Delete", post_path(@post), method: :delete %>
  <% end %>
  <% if @post.video.attached? %>
    <%= link_to "Download", download_post_path(@post)  %>
  <% end %>
  <%= link_to "Back to posts", posts_path %>
</div>
